version: '3.8'

services:
  nginx:
    image: nginx:1.25-alpine
    container_name: hoatdongrenluyen_nginx
    restart: always
    depends_on:
      frontend:
        condition: service_healthy
      backend:
        condition: service_healthy
    ports:
      - "80:80"
    volumes:
      - ./nginx/nginx-http-only.conf:/etc/nginx/nginx.conf:ro
      - ./certbot/www:/var/www/certbot:ro
      - ./nginx/logs:/var/log/nginx
    networks:
      - app_network

networks:
  app_network:
    external: false
