--
-- PostgreSQL database dump
--

\restrict 4x7WmFTP6r0CoUvFDUrbuLz66bpyPi3WlmH5Bx7MsrecJjr7DzeK0ZVMeIFIuIt

-- Dumped from database version 15.14 (Debian 15.14-1.pgdg13+1)
-- Dumped by pg_dump version 15.14 (Debian 15.14-1.pgdg13+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

ALTER TABLE IF EXISTS ONLY public.thong_bao DROP CONSTRAINT IF EXISTS thong_bao_nguoi_nhan_id_fkey;
ALTER TABLE IF EXISTS ONLY public.thong_bao DROP CONSTRAINT IF EXISTS thong_bao_nguoi_gui_id_fkey;
ALTER TABLE IF EXISTS ONLY public.thong_bao DROP CONSTRAINT IF EXISTS thong_bao_loai_tb_id_fkey;
ALTER TABLE IF EXISTS ONLY public.sinh_vien DROP CONSTRAINT IF EXISTS sinh_vien_nguoi_dung_id_fkey;
ALTER TABLE IF EXISTS ONLY public.sinh_vien DROP CONSTRAINT IF EXISTS sinh_vien_lop_id_fkey;
ALTER TABLE IF EXISTS ONLY public.phien_dang_nhap DROP CONSTRAINT IF EXISTS phien_dang_nhap_nguoi_dung_id_fkey;
ALTER TABLE IF EXISTS ONLY public.nguoi_dung DROP CONSTRAINT IF EXISTS nguoi_dung_vai_tro_id_fkey;
ALTER TABLE IF EXISTS ONLY public.lop DROP CONSTRAINT IF EXISTS lop_lop_truong_fkey;
ALTER TABLE IF EXISTS ONLY public.lop DROP CONSTRAINT IF EXISTS lop_chu_nhiem_fkey;
ALTER TABLE IF EXISTS ONLY public.hoat_dong DROP CONSTRAINT IF EXISTS hoat_dong_nguoi_tao_id_fkey;
ALTER TABLE IF EXISTS ONLY public.hoat_dong DROP CONSTRAINT IF EXISTS hoat_dong_lop_id_fkey;
ALTER TABLE IF EXISTS ONLY public.hoat_dong DROP CONSTRAINT IF EXISTS hoat_dong_loai_hd_id_fkey;
ALTER TABLE IF EXISTS ONLY public.diem_danh DROP CONSTRAINT IF EXISTS diem_danh_sv_id_fkey;
ALTER TABLE IF EXISTS ONLY public.diem_danh DROP CONSTRAINT IF EXISTS diem_danh_nguoi_diem_danh_id_fkey;
ALTER TABLE IF EXISTS ONLY public.diem_danh DROP CONSTRAINT IF EXISTS diem_danh_hd_id_fkey;
ALTER TABLE IF EXISTS ONLY public.dang_ky_hoat_dong DROP CONSTRAINT IF EXISTS dang_ky_hoat_dong_sv_id_fkey;
ALTER TABLE IF EXISTS ONLY public.dang_ky_hoat_dong DROP CONSTRAINT IF EXISTS dang_ky_hoat_dong_nguoi_duyet_id_fkey;
ALTER TABLE IF EXISTS ONLY public.dang_ky_hoat_dong DROP CONSTRAINT IF EXISTS dang_ky_hoat_dong_hd_id_fkey;
DROP INDEX IF EXISTS public.vai_tro_ten_vt_key;
DROP INDEX IF EXISTS public.sinh_vien_nguoi_dung_id_key;
DROP INDEX IF EXISTS public.sinh_vien_mssv_key;
DROP INDEX IF EXISTS public.phien_dang_nhap_nguoi_dung_id_idx;
DROP INDEX IF EXISTS public.phien_dang_nhap_ma_tab_key;
DROP INDEX IF EXISTS public.phien_dang_nhap_ma_tab_idx;
DROP INDEX IF EXISTS public.nguoi_dung_ten_dn_key;
DROP INDEX IF EXISTS public.nguoi_dung_email_key;
DROP INDEX IF EXISTS public.lop_ten_lop_key;
DROP INDEX IF EXISTS public.loai_thong_bao_ten_loai_tb_key;
DROP INDEX IF EXISTS public.loai_hoat_dong_ten_loai_hd_key;
DROP INDEX IF EXISTS public.hoat_dong_qr_key;
DROP INDEX IF EXISTS public.hoat_dong_ma_hd_key;
DROP INDEX IF EXISTS public.diem_danh_sv_id_hd_id_key;
DROP INDEX IF EXISTS public.dang_ky_hoat_dong_sv_id_hd_id_key;
ALTER TABLE IF EXISTS ONLY public.vai_tro DROP CONSTRAINT IF EXISTS vai_tro_pkey;
ALTER TABLE IF EXISTS ONLY public.thong_bao DROP CONSTRAINT IF EXISTS thong_bao_pkey;
ALTER TABLE IF EXISTS ONLY public.sinh_vien DROP CONSTRAINT IF EXISTS sinh_vien_pkey;
ALTER TABLE IF EXISTS ONLY public.phien_dang_nhap DROP CONSTRAINT IF EXISTS phien_dang_nhap_pkey;
ALTER TABLE IF EXISTS ONLY public.nguoi_dung DROP CONSTRAINT IF EXISTS nguoi_dung_pkey;
ALTER TABLE IF EXISTS ONLY public.lop DROP CONSTRAINT IF EXISTS lop_pkey;
ALTER TABLE IF EXISTS ONLY public.loai_thong_bao DROP CONSTRAINT IF EXISTS loai_thong_bao_pkey;
ALTER TABLE IF EXISTS ONLY public.loai_hoat_dong DROP CONSTRAINT IF EXISTS loai_hoat_dong_pkey;
ALTER TABLE IF EXISTS ONLY public.hoat_dong DROP CONSTRAINT IF EXISTS hoat_dong_pkey;
ALTER TABLE IF EXISTS ONLY public.diem_danh DROP CONSTRAINT IF EXISTS diem_danh_pkey;
ALTER TABLE IF EXISTS ONLY public.dang_ky_hoat_dong DROP CONSTRAINT IF EXISTS dang_ky_hoat_dong_pkey;
DROP TABLE IF EXISTS public.vai_tro;
DROP TABLE IF EXISTS public.thong_bao;
DROP TABLE IF EXISTS public.sinh_vien;
DROP TABLE IF EXISTS public.phien_dang_nhap;
DROP TABLE IF EXISTS public.nguoi_dung;
DROP TABLE IF EXISTS public.lop;
DROP TABLE IF EXISTS public.loai_thong_bao;
DROP TABLE IF EXISTS public.loai_hoat_dong;
DROP TABLE IF EXISTS public.hoat_dong;
DROP TABLE IF EXISTS public.diem_danh;
DROP TABLE IF EXISTS public.dang_ky_hoat_dong;
DROP TYPE IF EXISTS public."TrangThaiThamGia";
DROP TYPE IF EXISTS public."TrangThaiTaiKhoan";
DROP TYPE IF EXISTS public."TrangThaiHoatDong";
DROP TYPE IF EXISTS public."TrangThaiGui";
DROP TYPE IF EXISTS public."TrangThaiDangKy";
DROP TYPE IF EXISTS public."PhuongThucGui";
DROP TYPE IF EXISTS public."PhuongThucDiemDanh";
DROP TYPE IF EXISTS public."MucDoUuTien";
DROP TYPE IF EXISTS public."HocKy";
DROP TYPE IF EXISTS public."GioiTinh";
--
-- Name: GioiTinh; Type: TYPE; Schema: public; Owner: admin
--

CREATE TYPE public."GioiTinh" AS ENUM (
    'nam',
    'nu',
    'khac'
);


ALTER TYPE public."GioiTinh" OWNER TO admin;

--
-- Name: HocKy; Type: TYPE; Schema: public; Owner: admin
--

CREATE TYPE public."HocKy" AS ENUM (
    'hoc_ky_1',
    'hoc_ky_2'
);


ALTER TYPE public."HocKy" OWNER TO admin;

--
-- Name: MucDoUuTien; Type: TYPE; Schema: public; Owner: admin
--

CREATE TYPE public."MucDoUuTien" AS ENUM (
    'thap',
    'trung_binh',
    'cao',
    'khan_cap'
);


ALTER TYPE public."MucDoUuTien" OWNER TO admin;

--
-- Name: PhuongThucDiemDanh; Type: TYPE; Schema: public; Owner: admin
--

CREATE TYPE public."PhuongThucDiemDanh" AS ENUM (
    'qr',
    'ma_vach',
    'truyen_thong'
);


ALTER TYPE public."PhuongThucDiemDanh" OWNER TO admin;

--
-- Name: PhuongThucGui; Type: TYPE; Schema: public; Owner: admin
--

CREATE TYPE public."PhuongThucGui" AS ENUM (
    'email',
    'sdt',
    'trong_he_thong'
);


ALTER TYPE public."PhuongThucGui" OWNER TO admin;

--
-- Name: TrangThaiDangKy; Type: TYPE; Schema: public; Owner: admin
--

CREATE TYPE public."TrangThaiDangKy" AS ENUM (
    'cho_duyet',
    'da_duyet',
    'tu_choi',
    'da_tham_gia'
);


ALTER TYPE public."TrangThaiDangKy" OWNER TO admin;

--
-- Name: TrangThaiGui; Type: TYPE; Schema: public; Owner: admin
--

CREATE TYPE public."TrangThaiGui" AS ENUM (
    'cho_gui',
    'da_gui',
    'that_bai'
);


ALTER TYPE public."TrangThaiGui" OWNER TO admin;

--
-- Name: TrangThaiHoatDong; Type: TYPE; Schema: public; Owner: admin
--

CREATE TYPE public."TrangThaiHoatDong" AS ENUM (
    'cho_duyet',
    'da_duyet',
    'tu_choi',
    'da_huy',
    'ket_thuc'
);


ALTER TYPE public."TrangThaiHoatDong" OWNER TO admin;

--
-- Name: TrangThaiTaiKhoan; Type: TYPE; Schema: public; Owner: admin
--

CREATE TYPE public."TrangThaiTaiKhoan" AS ENUM (
    'hoat_dong',
    'khong_hoat_dong',
    'khoa'
);


ALTER TYPE public."TrangThaiTaiKhoan" OWNER TO admin;

--
-- Name: TrangThaiThamGia; Type: TYPE; Schema: public; Owner: admin
--

CREATE TYPE public."TrangThaiThamGia" AS ENUM (
    'co_mat',
    'vang_mat',
    'muon',
    've_som'
);


ALTER TYPE public."TrangThaiThamGia" OWNER TO admin;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: dang_ky_hoat_dong; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.dang_ky_hoat_dong (
    id uuid NOT NULL,
    sv_id uuid NOT NULL,
    hd_id uuid NOT NULL,
    ngay_dang_ky timestamp(6) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    trang_thai_dk public."TrangThaiDangKy" DEFAULT 'cho_duyet'::public."TrangThaiDangKy" NOT NULL,
    ly_do_dk text,
    ly_do_tu_choi text,
    ngay_duyet timestamp(6) without time zone,
    nguoi_duyet_id uuid,
    ghi_chu text
);


ALTER TABLE public.dang_ky_hoat_dong OWNER TO admin;

--
-- Name: diem_danh; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.diem_danh (
    id uuid NOT NULL,
    nguoi_diem_danh_id uuid NOT NULL,
    sv_id uuid NOT NULL,
    hd_id uuid NOT NULL,
    tg_diem_danh timestamp(6) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    phuong_thuc public."PhuongThucDiemDanh" DEFAULT 'qr'::public."PhuongThucDiemDanh" NOT NULL,
    trang_thai_tham_gia public."TrangThaiThamGia" DEFAULT 'co_mat'::public."TrangThaiThamGia" NOT NULL,
    ghi_chu text,
    dia_chi_ip inet,
    vi_tri_gps text,
    xac_nhan_tham_gia boolean DEFAULT true NOT NULL
);


ALTER TABLE public.diem_danh OWNER TO admin;

--
-- Name: hoat_dong; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.hoat_dong (
    id uuid NOT NULL,
    ma_hd character varying(50),
    ten_hd character varying(200) NOT NULL,
    mo_ta text,
    loai_hd_id uuid NOT NULL,
    lop_id uuid,
    diem_rl numeric(4,2) DEFAULT 0.00 NOT NULL,
    dia_diem character varying(200),
    ngay_bd timestamp(6) without time zone NOT NULL,
    ngay_kt timestamp(6) without time zone NOT NULL,
    han_dk timestamp(6) without time zone,
    sl_toi_da integer DEFAULT 1 NOT NULL,
    don_vi_to_chuc text,
    yeu_cau_tham_gia text,
    trang_thai public."TrangThaiHoatDong" DEFAULT 'cho_duyet'::public."TrangThaiHoatDong" NOT NULL,
    ly_do_tu_choi text,
    qr character varying(32),
    hinh_anh text[],
    tep_dinh_kem text[],
    nguoi_tao_id uuid NOT NULL,
    ngay_tao timestamp(6) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    ngay_cap_nhat timestamp(6) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    co_chung_chi boolean DEFAULT false NOT NULL,
    hoc_ky public."HocKy" DEFAULT 'hoc_ky_1'::public."HocKy" NOT NULL,
    nam_hoc character varying(15)
);


ALTER TABLE public.hoat_dong OWNER TO admin;

--
-- Name: loai_hoat_dong; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.loai_hoat_dong (
    id uuid NOT NULL,
    ten_loai_hd character varying(50) NOT NULL,
    mo_ta text,
    diem_mac_dinh numeric(4,2) DEFAULT 0.00 NOT NULL,
    diem_toi_da numeric(4,2) DEFAULT 10.00 NOT NULL,
    mau_sac character varying(7),
    nguoi_tao_id uuid,
    ngay_tao timestamp(6) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.loai_hoat_dong OWNER TO admin;

--
-- Name: loai_thong_bao; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.loai_thong_bao (
    id uuid NOT NULL,
    ten_loai_tb character varying(50) NOT NULL,
    mo_ta text
);


ALTER TABLE public.loai_thong_bao OWNER TO admin;

--
-- Name: lop; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.lop (
    id uuid NOT NULL,
    ten_lop character varying(30) NOT NULL,
    khoa character varying(50) NOT NULL,
    nien_khoa character varying(20) NOT NULL,
    nam_nhap_hoc date NOT NULL,
    nam_tot_nghiep date,
    chu_nhiem uuid NOT NULL,
    lop_truong uuid
);


ALTER TABLE public.lop OWNER TO admin;

--
-- Name: nguoi_dung; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.nguoi_dung (
    id uuid NOT NULL,
    ten_dn character varying(50) NOT NULL,
    mat_khau character varying(255) NOT NULL,
    email character varying(100) NOT NULL,
    ho_ten character varying(50),
    vai_tro_id uuid NOT NULL,
    trang_thai public."TrangThaiTaiKhoan" DEFAULT 'hoat_dong'::public."TrangThaiTaiKhoan" NOT NULL,
    ngay_tao timestamp(6) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    ngay_cap_nhat timestamp(6) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    lan_cuoi_dn timestamp(6) without time zone,
    token_reset character varying(255),
    tg_het_han_token timestamp(6) without time zone,
    ma_xac_minh character varying(255),
    tg_het_han_ma timestamp(6) without time zone,
    anh_dai_dien character varying(255)
);


ALTER TABLE public.nguoi_dung OWNER TO admin;

--
-- Name: phien_dang_nhap; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.phien_dang_nhap (
    id uuid NOT NULL,
    nguoi_dung_id uuid NOT NULL,
    ma_tab character varying(255) NOT NULL,
    vai_tro character varying(50),
    thoi_gian_tao timestamp(6) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    lan_hoat_dong timestamp(6) without time zone NOT NULL
);


ALTER TABLE public.phien_dang_nhap OWNER TO admin;

--
-- Name: sinh_vien; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.sinh_vien (
    id uuid NOT NULL,
    nguoi_dung_id uuid NOT NULL,
    mssv character varying(10) NOT NULL,
    ngay_sinh date NOT NULL,
    gt public."GioiTinh",
    lop_id uuid NOT NULL,
    dia_chi text,
    sdt character varying(10),
    email character varying(100)
);


ALTER TABLE public.sinh_vien OWNER TO admin;

--
-- Name: thong_bao; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.thong_bao (
    id uuid NOT NULL,
    tieu_de character varying(200) NOT NULL,
    noi_dung text NOT NULL,
    loai_tb_id uuid NOT NULL,
    nguoi_gui_id uuid NOT NULL,
    nguoi_nhan_id uuid NOT NULL,
    da_doc boolean DEFAULT false NOT NULL,
    muc_do_uu_tien public."MucDoUuTien" DEFAULT 'trung_binh'::public."MucDoUuTien" NOT NULL,
    ngay_gui timestamp(6) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    ngay_doc timestamp(6) without time zone,
    trang_thai_gui public."TrangThaiGui",
    phuong_thuc_gui public."PhuongThucGui" DEFAULT 'email'::public."PhuongThucGui" NOT NULL
);


ALTER TABLE public.thong_bao OWNER TO admin;

--
-- Name: vai_tro; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.vai_tro (
    id uuid NOT NULL,
    ten_vt character varying(50) NOT NULL,
    mo_ta text,
    quyen_han jsonb,
    ngay_tao timestamp(6) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.vai_tro OWNER TO admin;

--
-- Name: dang_ky_hoat_dong dang_ky_hoat_dong_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.dang_ky_hoat_dong
    ADD CONSTRAINT dang_ky_hoat_dong_pkey PRIMARY KEY (id);


--
-- Name: diem_danh diem_danh_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.diem_danh
    ADD CONSTRAINT diem_danh_pkey PRIMARY KEY (id);


--
-- Name: hoat_dong hoat_dong_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.hoat_dong
    ADD CONSTRAINT hoat_dong_pkey PRIMARY KEY (id);


--
-- Name: loai_hoat_dong loai_hoat_dong_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.loai_hoat_dong
    ADD CONSTRAINT loai_hoat_dong_pkey PRIMARY KEY (id);


--
-- Name: loai_thong_bao loai_thong_bao_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.loai_thong_bao
    ADD CONSTRAINT loai_thong_bao_pkey PRIMARY KEY (id);


--
-- Name: lop lop_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.lop
    ADD CONSTRAINT lop_pkey PRIMARY KEY (id);


--
-- Name: nguoi_dung nguoi_dung_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.nguoi_dung
    ADD CONSTRAINT nguoi_dung_pkey PRIMARY KEY (id);


--
-- Name: phien_dang_nhap phien_dang_nhap_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.phien_dang_nhap
    ADD CONSTRAINT phien_dang_nhap_pkey PRIMARY KEY (id);


--
-- Name: sinh_vien sinh_vien_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.sinh_vien
    ADD CONSTRAINT sinh_vien_pkey PRIMARY KEY (id);


--
-- Name: thong_bao thong_bao_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.thong_bao
    ADD CONSTRAINT thong_bao_pkey PRIMARY KEY (id);


--
-- Name: vai_tro vai_tro_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.vai_tro
    ADD CONSTRAINT vai_tro_pkey PRIMARY KEY (id);


--
-- Name: dang_ky_hoat_dong_sv_id_hd_id_key; Type: INDEX; Schema: public; Owner: admin
--

CREATE UNIQUE INDEX dang_ky_hoat_dong_sv_id_hd_id_key ON public.dang_ky_hoat_dong USING btree (sv_id, hd_id);


--
-- Name: diem_danh_sv_id_hd_id_key; Type: INDEX; Schema: public; Owner: admin
--

CREATE UNIQUE INDEX diem_danh_sv_id_hd_id_key ON public.diem_danh USING btree (sv_id, hd_id);


--
-- Name: hoat_dong_ma_hd_key; Type: INDEX; Schema: public; Owner: admin
--

CREATE UNIQUE INDEX hoat_dong_ma_hd_key ON public.hoat_dong USING btree (ma_hd);


--
-- Name: hoat_dong_qr_key; Type: INDEX; Schema: public; Owner: admin
--

CREATE UNIQUE INDEX hoat_dong_qr_key ON public.hoat_dong USING btree (qr);


--
-- Name: loai_hoat_dong_ten_loai_hd_key; Type: INDEX; Schema: public; Owner: admin
--

CREATE UNIQUE INDEX loai_hoat_dong_ten_loai_hd_key ON public.loai_hoat_dong USING btree (ten_loai_hd);


--
-- Name: loai_thong_bao_ten_loai_tb_key; Type: INDEX; Schema: public; Owner: admin
--

CREATE UNIQUE INDEX loai_thong_bao_ten_loai_tb_key ON public.loai_thong_bao USING btree (ten_loai_tb);


--
-- Name: lop_ten_lop_key; Type: INDEX; Schema: public; Owner: admin
--

CREATE UNIQUE INDEX lop_ten_lop_key ON public.lop USING btree (ten_lop);


--
-- Name: nguoi_dung_email_key; Type: INDEX; Schema: public; Owner: admin
--

CREATE UNIQUE INDEX nguoi_dung_email_key ON public.nguoi_dung USING btree (email);


--
-- Name: nguoi_dung_ten_dn_key; Type: INDEX; Schema: public; Owner: admin
--

CREATE UNIQUE INDEX nguoi_dung_ten_dn_key ON public.nguoi_dung USING btree (ten_dn);


--
-- Name: phien_dang_nhap_ma_tab_idx; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX phien_dang_nhap_ma_tab_idx ON public.phien_dang_nhap USING btree (ma_tab);


--
-- Name: phien_dang_nhap_ma_tab_key; Type: INDEX; Schema: public; Owner: admin
--

CREATE UNIQUE INDEX phien_dang_nhap_ma_tab_key ON public.phien_dang_nhap USING btree (ma_tab);


--
-- Name: phien_dang_nhap_nguoi_dung_id_idx; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX phien_dang_nhap_nguoi_dung_id_idx ON public.phien_dang_nhap USING btree (nguoi_dung_id);


--
-- Name: sinh_vien_mssv_key; Type: INDEX; Schema: public; Owner: admin
--

CREATE UNIQUE INDEX sinh_vien_mssv_key ON public.sinh_vien USING btree (mssv);


--
-- Name: sinh_vien_nguoi_dung_id_key; Type: INDEX; Schema: public; Owner: admin
--

CREATE UNIQUE INDEX sinh_vien_nguoi_dung_id_key ON public.sinh_vien USING btree (nguoi_dung_id);


--
-- Name: vai_tro_ten_vt_key; Type: INDEX; Schema: public; Owner: admin
--

CREATE UNIQUE INDEX vai_tro_ten_vt_key ON public.vai_tro USING btree (ten_vt);


--
-- Name: dang_ky_hoat_dong dang_ky_hoat_dong_hd_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.dang_ky_hoat_dong
    ADD CONSTRAINT dang_ky_hoat_dong_hd_id_fkey FOREIGN KEY (hd_id) REFERENCES public.hoat_dong(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: dang_ky_hoat_dong dang_ky_hoat_dong_nguoi_duyet_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.dang_ky_hoat_dong
    ADD CONSTRAINT dang_ky_hoat_dong_nguoi_duyet_id_fkey FOREIGN KEY (nguoi_duyet_id) REFERENCES public.nguoi_dung(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: dang_ky_hoat_dong dang_ky_hoat_dong_sv_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.dang_ky_hoat_dong
    ADD CONSTRAINT dang_ky_hoat_dong_sv_id_fkey FOREIGN KEY (sv_id) REFERENCES public.sinh_vien(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: diem_danh diem_danh_hd_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.diem_danh
    ADD CONSTRAINT diem_danh_hd_id_fkey FOREIGN KEY (hd_id) REFERENCES public.hoat_dong(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: diem_danh diem_danh_nguoi_diem_danh_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.diem_danh
    ADD CONSTRAINT diem_danh_nguoi_diem_danh_id_fkey FOREIGN KEY (nguoi_diem_danh_id) REFERENCES public.nguoi_dung(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: diem_danh diem_danh_sv_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.diem_danh
    ADD CONSTRAINT diem_danh_sv_id_fkey FOREIGN KEY (sv_id) REFERENCES public.sinh_vien(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: hoat_dong hoat_dong_loai_hd_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.hoat_dong
    ADD CONSTRAINT hoat_dong_loai_hd_id_fkey FOREIGN KEY (loai_hd_id) REFERENCES public.loai_hoat_dong(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: hoat_dong hoat_dong_lop_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.hoat_dong
    ADD CONSTRAINT hoat_dong_lop_id_fkey FOREIGN KEY (lop_id) REFERENCES public.lop(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: hoat_dong hoat_dong_nguoi_tao_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.hoat_dong
    ADD CONSTRAINT hoat_dong_nguoi_tao_id_fkey FOREIGN KEY (nguoi_tao_id) REFERENCES public.nguoi_dung(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: lop lop_chu_nhiem_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.lop
    ADD CONSTRAINT lop_chu_nhiem_fkey FOREIGN KEY (chu_nhiem) REFERENCES public.nguoi_dung(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: lop lop_lop_truong_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.lop
    ADD CONSTRAINT lop_lop_truong_fkey FOREIGN KEY (lop_truong) REFERENCES public.sinh_vien(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: nguoi_dung nguoi_dung_vai_tro_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.nguoi_dung
    ADD CONSTRAINT nguoi_dung_vai_tro_id_fkey FOREIGN KEY (vai_tro_id) REFERENCES public.vai_tro(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: phien_dang_nhap phien_dang_nhap_nguoi_dung_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.phien_dang_nhap
    ADD CONSTRAINT phien_dang_nhap_nguoi_dung_id_fkey FOREIGN KEY (nguoi_dung_id) REFERENCES public.nguoi_dung(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: sinh_vien sinh_vien_lop_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.sinh_vien
    ADD CONSTRAINT sinh_vien_lop_id_fkey FOREIGN KEY (lop_id) REFERENCES public.lop(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: sinh_vien sinh_vien_nguoi_dung_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.sinh_vien
    ADD CONSTRAINT sinh_vien_nguoi_dung_id_fkey FOREIGN KEY (nguoi_dung_id) REFERENCES public.nguoi_dung(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: thong_bao thong_bao_loai_tb_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.thong_bao
    ADD CONSTRAINT thong_bao_loai_tb_id_fkey FOREIGN KEY (loai_tb_id) REFERENCES public.loai_thong_bao(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: thong_bao thong_bao_nguoi_gui_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.thong_bao
    ADD CONSTRAINT thong_bao_nguoi_gui_id_fkey FOREIGN KEY (nguoi_gui_id) REFERENCES public.nguoi_dung(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: thong_bao thong_bao_nguoi_nhan_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.thong_bao
    ADD CONSTRAINT thong_bao_nguoi_nhan_id_fkey FOREIGN KEY (nguoi_nhan_id) REFERENCES public.nguoi_dung(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- PostgreSQL database dump complete
--

\unrestrict 4x7WmFTP6r0CoUvFDUrbuLz66bpyPi3WlmH5Bx7MsrecJjr7DzeK0ZVMeIFIuIt

